/* CSS files --> experiences.html */
body{
    background-color: #28c5da;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #e4e141;
}
h1{
    text-align: center; 
    font-family: cursive;
    background-color: #28d85d;
} 
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
.table-content{
    margin-left: auto; 
    margin-right: auto;
    background-color: #FEFDCA;
}
.ul-circle{
    list-style-type:circle;
    background-color: #FFCFDF;
} 
.ul-disc{
    list-style-type:disc;
    background-color: #FFCFDF;
}
.ul-square{
    list-style-type:square;
    background-color: #FFCFDF;
}
.ol-order{
    background-color: #FFCFDF;
}
.table-menu h3{
    background: #a4cfeb;
    background-image: -webkit-linear-gradient(top, #a4cfeb, #476070);
    background-image: -moz-linear-gradient(top, #a4cfeb, #476070);
    background-image: -ms-linear-gradient(top, #a4cfeb, #476070);
    background-image: -o-linear-gradient(top, #a4cfeb, #476070);
    background-image: linear-gradient(to bottom, #a4cfeb, #476070);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #f2c9f2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .table-menu h3:hover{
    background: #96316e;
    background-image: -webkit-linear-gradient(top, #96316e, #ed4071);
    background-image: -moz-linear-gradient(top, #96316e, #ed4071);
    background-image: -ms-linear-gradient(top, #96316e, #ed4071);
    background-image: -o-linear-gradient(top, #96316e, #ed4071);
    background-image: linear-gradient(to bottom, #96316e, #ed4071);
    text-decoration: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 26px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }